{% if pageCount > 1 %}
    <ul class="flex justify-center space-x-1">
        {% if first is defined and current != first %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="px-3 py-1 rounded-md bg-gray-200 hover:bg-gray-300">
                    <i class="material-icons">first_page</i>
                </a>
            </li>
        {% endif %}

        {% if previous is defined %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="px-3 py-1 rounded-md bg-gray-200 hover:bg-gray-300">
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>
        {% endif %}

        {% for page in pagesInRange %}
            <li class="{{ page == current ? 'px-3 py-1 rounded-md bg-indigo-600 text-white' : 'px-3 py-1 rounded-md bg-gray-200 hover:bg-gray-300' }}">
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if next is defined %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="px-3 py-1 rounded-md bg-gray-200 hover:bg-gray-300">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
        {% endif %}

        {% if last is defined and current != last %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="px-3 py-1 rounded-md bg-gray-200 hover:bg-gray-300">
                    <i class="material-icons">last_page</i>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}